<div class="top-bar">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <form action="" (submit)="onRepoNameChange(repoName.value)">
                    <div class="input-group">
                        <input #repoName type="text" class="form-control"
                               placeholder="Repository name (e.g. 'twbs/bootstrap')">
                        <span class="input-group-btn">
                  <button class="btn btn-default"
                          type="submit">Visualize!</button>
                  </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" *ngIf="loadError">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="alert alert-danger" role="alert">
                Ooops, something went wrong. Check the repository name and try again.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12r">

            <div class="instructions" *ngIf="!isDataPresent()">
                <p><i class="material-icons">arrow_upward</i><br>
                    Enter a repository name and hit that 'Visualize!' button</p>
            </div>

            <div *ngIf="isDataPresent()" class="media">
                <div class="media-left">
                    <img class="media-object" [src]="getIconUrl()" alt="icon"/>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{ getName() }}</h2>
                    <p>{{ getDescription() }}</p>
                    <p>Main language: <span class="label label-primary">{{ getLanguage() }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
