<div class="tile-container">
    <cs-number-tile class="tile" [data]="getContributorsData()"></cs-number-tile>
    <cs-number-tile class="tile" [data]="getRepoAgeData()"></cs-number-tile>
    <cs-number-tile class="tile" [data]="getTotalCommitsData()"></cs-number-tile>
    <cs-chart-tile class="tile"></cs-chart-tile>
</div>

<input #repoName/>
<button (click)="onRepoNameChange(repoName.value)" type="submit">GET REPO!</button>

<cs-number-tile [data]="getContributorsData()"></cs-number-tile>
<ul>
    <li *ngFor="let fork of getGithubForks()">
        Name: {{ fork.name }} - Stargazers: {{ fork.stargazers_count }}
    </li>
</ul>
<ul>
    <li *ngFor="let week of getGithubCodeFrequencyWeeks()">
        Datum: {{ week.weekDate.format() }} - Additions: {{ week.additions }} - Deletions: {{ week.deletions }}
    </li>
</ul>
<ul>
    <li *ngFor="let contributor of getGithubContributors()">
        Contributor: {{ contributor.login }} - Contributions: {{ contributor.contributions }}
    </li>
</ul>
<ul>
    <li *ngFor="let language of getGithubLanguages()">
        Language: {{ language.language }} - Lines of Code: {{ language.lines_of_code }}
    </li>
</ul>
<!--<cs-number-tile [data]="getRepoAgeData()"></cs-number-tile>-->
<!--<cs-number-tile [data]="getTotalCommitsData()"></cs-number-tile>-->

