<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <h1>Visualize your Git repository</h1>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Repository name (e.g. 'twbs/bootstrap')">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>

    <!-- overview component -->
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="http://placehold.it/50x50" alt="icon">
        </div>
        <div class="media-body">
            <h2 class="media-heading">Bootstrap</h2>
            <p>The most popular HTML, CSS, and JavaScript framework for developing responsive,
                mobile first projects on the web. http://getbootstrap.com</p>
            <p>Language: <span class="label label-primary">CSS</span></p>
        </div>
    </div>

    <cs-tiles></cs-tiles>
</div>

