.tile-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

/deep/ .tile {
    flex-grow: 1;
    /*align-self: stretch;*/
    max-width: 100%;
    min-height: 10rem;
    margin: 10px;
    background: white;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.1);
    text-align: center;
}
