:host {
    flex:1 0 calc(66% - 40px);
}

.tile-number {
    font-size: 1.8em;
}

h2 {
    font-size: 1rem;
    margin-bottom: 1em;
}

img {
    border-radius: 100%;
    height: 96px;
    width: 96px;
    -webkit-filter: grayscale(1);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    transition: all .3s;
}

p {
    margin-top: 1em;
}

img:hover {
    transform: scale(1.2);
    -webkit-filter: grayscale(0);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.contributor {
    display: inline-block;
    width: 30%
}
